
<div class="row">
    <div class="col-6">
        <h1>All Departments</h1>
        <table class="table table-striped">
            <tr>
                <th>Department Name</th>
            </tr>
            @{
                foreach(Department d in ViewBag.AllDepartments)
                {
                    <tr>    
                        <td>@d.Name</td>
                    </tr>
                }
            }
        </table>
</div>
<div class="col-6">
    <h1>All Employees</h1>
        <table class="table table-striped">
            <tr>
                <th>Employee Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Employee Department</th>
            </tr>
            @{
                foreach(Employee e in ViewBag.AllEmployees)
                {
                    <tr>
                        <td>@e.EmployeeId</td>
                        <td>@e.FirstName</td>
                        <td>@e.LastName</td>
                        <td>@e.Department.Name</td>
                    </tr>
                }
            }
        </table>
</div>

</div>
